:root{
  --section-overlay: rgba(0,0,0.7);
  --background-overlay: rgba(0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
   margin: 0;
   font-size: 4rem;
  padding: 40px;
  color: white;
  margin-top: 5rem;
  text-shadow: 7px 8px 10px black ;
  
}
.cont .cont__OnOff{
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  transition: 
  transform 0.3s ease,
  box-shadow 0.3s ease;
  z-index: 10;
}
html{
  width: 100;
  height: fit-content;
}
.div {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 2rem;

}
.cont{

width: 6rem;
left: 10%;
}
.weather> div{
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  width: 100%;
  height: 100%;
}
.div .weather{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content:center;
 border:  rgb(250, 220, 249);
 text-align: center;
 border-radius: 150px 150px 50px 20px;
 background-color: rgba(255, 255, 255, 0.145);
 backdrop-filter: blur(10px);
}
.weather>p {
  margin-left: 2rem;
}
.div .imagen{
  display: flex;
  height: 200px;
  width: 300px;
  margin-left: 2rem;

  }

.div .sensation{
  display: flex;
  justify-content:first baseline;
  font-size: 1rem;
  font-style:oblique;
  text-align: left;
  font-weight: bold;
 }
 .div .speed {
  display: flex;
  justify-content:first baseline;
  font-size: 1rem;
  font-style:oblique;
  text-align: left;
  font-weight: bold;
 }

 .div .pressure {
  display: flex;
  justify-content:first baseline;
  font-size: 1rem;
  font-style:oblique;
  text-align: left;
  font-weight: bold;

 }

.div .location{
  display: flex;
  justify-content:first;
  font-size: 1.5rem;
  font-style:oblique;
  font-weight: bold;
  text-align: left;
  align-self: center;
  }
.button .temperature{
  display: inline-block;
  width:300px;
  text-align: center;
  font-size: 2rem;
  }
  @media (max-width:1200px){
    .div{
      display: flex;
      justify-content:center;
      width: 6rem;
      
    }
      .title{
        font-size:2rem;
        display: flex;
        justify-content: center;
       margin: 7rem;
       position: absolute;
       
       }
      .weather{
      height: 500px;
      padding: auto;
    }
    .div .weather {
      padding: 0;
      height: 40rem;
      width: 20rem;
      display: flex;
      justify-content: flex-start;
      text-align: left;
    }
    .weather .imagen{
      display: flex;
      position: absolute;
      height: 6rem;
      width: 8rem;
      left: 4rem;
    }
    .div .temp{
      display: flex;
      position:relative;
      left: -4rem;
      font-size:2.2rem;
      text-align:center;
      color:white;
      text-shadow: 3px 3px black;
      padding: 5rem;
      height: 2rem;
      margin: 0;
         
      }
      .div .sensation{
      display: flex;
      position: absolute;
      justify-content: center;
      padding: 8.5rem;
      left: -9.5rem;
      font-size: 0.7rem;
      font-style:oblique;
     font-weight: bold;
      }
      .div .speed {
      display: flex;
      position: absolute;
      left: -11.5rem;
      font-size: 0.7rem;
      font-style:oblique;
      font-weight: bold;
      }
      .div .pressure {
        position: relative;
        left: -3rem;
        padding: 2rem;
        font-size: 0.7rem;
       font-style:oblique;
        font-weight: bold;
        margin-top:1rem;
      }
      .div .location{
      display: flex;
      justify-content:center;
      position: absolute;
      left: 1rem;
      font-size: 2rem;
      font-style:oblique;
      font-weight: bold;
      height: 40rem;
      margin: 0;
      
      }
      .div .temperature{
      display: flex;
      width: 300px;
      height: 30px;
      text-align:center;
      font-size: 2rem;
      font-weight: bolder;
      cursor: pointer;
     position: relative;
     left: 2rem;
        }
 
     
  }
@media (width<=766px){

  .div .imagen{
    margin-left: 0;
    display: flex;
    position: absolute;
    top: 1rem;
  }
  p .temp{
    font-size: 2rem;
  }
   .div{
    justify-items: center;}
    .weather{
      transform: scale(1.1);
    }
  }
@media screen and (width>=500px) { 
   .div{
    display: flex;
    justify-content: center;
  }
  .h1 .title{
  display: flex;
  justify-content:center;
  align-items: center;
  position: absolute;
  
  }

  .div .temperature{
  display: flex;
  width: 200px;
  height: 30px;
  text-align:left;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  justify-content: center;
  background-color: rgba(119, 127, 143, 0.353);
  }

.h1 .title{
display: flex;
justify-content:center;
text-align: center;
position: relative;
}
.button .cont__OnOff{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 15rem;
  margin: 4rem;
}
.weather{
  transform: scale(1.3);
}
.temperature{
display: flex;
justify-content: center;
position:absolute;
left: 5rem;
top: 1rem;
}
}
@media screen and (width>=320px) {
   .div{
display:flex;
align-items:center;
justify-content: center;
margin-left: 1rem;
padding:12rem;
}
    .title{
      font-size:2rem;
     margin: 3rem;display: flex;
     position: absolute;
     
     }
    .weather{
    height: 250px;
    padding: auto;
  }
  .div .weather {
    padding: 0;
    height: 13rem;
    width: 12rem;
    display: flex;
    justify-content: flex-start;
    
  }
  .weather .imagen{
    height: 6rem;
    width: 8rem;
    left: 7rem;
  }
  .div .temp{
    display: flex;
    position:relative;
    left: -1rem;
    font-size:2.5rem;
    text-align:center;
    color:white;
    text-shadow: 3px 3px black;
    padding: 3rem;
    height: 2rem;
    margin: 0;
       
    }
    .div .sensation{
    display: flex;
    justify-content: center;
    padding: 6.5rem;
    left: -7.5rem;
    font-size: 0.7rem;
    font-style:oblique;
   font-weight: bold;
    }
    .div .speed {
    display: flex;
    padding: 10rem;
    left: -10.5rem;
    font-size: 0.7rem;
    font-style:oblique;
    font-weight: bold;

    }
    .div .pressure {
      position: relative;
      left: -3rem;
      padding: 2rem;
      font-size: 0.7rem;
     font-style:oblique;
      font-weight: bold;
      margin-top:1rem;
    }
    .div .location{
    display: flex;
    justify-content:center;
    font-size: 0.8rem;
    font-style:oblique;
    font-weight: bold;
    height: 24rem;
    margin: 0;
    
    }
    .div .temperature{
    display: flex;
    width: 120px;
    height: 25px;
    text-align:center;
    font-size: 0.8rem;
    font-weight: bolder;
    cursor: pointer;
   position: relative;
   left: 1rem;
   margin-top: 1rem;
   background-color: rgba(119, 127, 143, 0.353);
   }
   .button .temperature{
    display: inline-block;
    width:300px;
    text-align: center;
    font-size: 2rem;
   
 
}
}

