:root{
  --section-overlay: rgba(0,0,0.7);
  --background-overlay: rgba(0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
   margin: 0;
   font-size: 4rem;
  padding: 40px;
  color: white;
  margin-top: 5rem;
  text-shadow: 7px 8px 10px black ;
  
}
.cont .cont__OnOff{

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  transition: 
  transform 0.3s ease,
  box-shadow 0.3s ease;
  z-index: 10;
}
html{
  width: 100;
  height: fit-content;
}
.div {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 2rem;

}
.cont{

width: 6rem;
left: 10%;
}
.weather> div{
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  width: 100%;
  height: 100%;
}
.div .weather{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content:center;
 border:  rgb(250, 220, 249);
 text-align: center;
 border-radius: 150px 150px 50px 20px;
 background-color: rgba(255, 255, 255, 0.145);
 backdrop-filter: blur(10px);
}
.weather>p {
  margin-left: 2rem;
}
.div .imagen{
  display: flex;
  height: 200px;
  width: 300px;
  margin-left: 2rem;

  }

.div .sensation{
  display: flex;
  justify-content:first baseline;
  font-size: 1rem;
  font-style:oblique;
  text-align: left;
  font-weight: bold;
 }
 .div .speed {
  display: flex;
  justify-content:first baseline;
  font-size: 1rem;
  font-style:oblique;
  text-align: left;
  font-weight: bold;
 }

 .div .pressure {
  display: flex;
  justify-content:first baseline;
  font-size: 1rem;
  font-style:oblique;
  text-align: left;
  font-weight: bold;

 }

.div .location{
  display: flex;
  justify-content:first;
  font-size: 1.5rem;
  font-style:oblique;
  font-weight: bold;
  text-align: left;
  align-self: center;
  }
.button .temperature{
  display: flex;
  width:300px;
  text-align: center;
  font-size: 2rem;

  }
  @media (max-width:1200px){
    .div{
      display: flex;
      justify-content:center;
      width: 7rem;
      height: 7rem;
      padding: 3rem;
      margin-top: 10rem;
      
    }
      .title{
        font-size:4rem;
        display: flex;
        justify-content: center;
        margin: 7rem;
       
       }
      .weather{
      height: 600px;
      padding: auto;
    }
    .div .weather {
      padding: 0;
     
      display: flex;
      justify-content: flex-start;
      text-align: left;
    }
    .weather .imagen{
      display: flex;
      height: 6rem;
      width: 8rem;
      left: 4rem;
    }
    .div .temp{
      display: flex;
      font-size:2.2rem;
      text-align:center;
      color:white;
      text-shadow: 3px 3px black;
      padding: 3rem;
      height: 1rem;
      margin: 0;
         
      }
      .div .sensation{
      display: flex;
      justify-content: center;
      font-size: 1rem;
      font-style:oblique;
      font-weight: bold;
      }
      .div .speed {
      display: flex;
      font-size: 0.7rem;
      font-style:oblique;
      font-weight: bold;
      }
      .div .pressure {
        padding: 2rem;
        font-size: 0.7rem;
        font-style:oblique;
        font-weight: bold;
        margin-top:1rem;
      }
      .div .location{
      display: flex;
      justify-content:center;
      font-size: 2rem;
      font-style:oblique;
      font-weight: bold;
      height: 40rem;
      margin: 0;
      
      }
      .div .temperature{
      display: flex;
      width: 300px;
      height: 30px;
      text-align:center;
      font-size: 2rem;
      font-weight: bolder;
      cursor: pointer;
   
        }
 
     
  }
  @media (width>=750px){
   .div .weather{
    position: relative;
    left: 15rem;
   }
   .temperature{
    position: relative;
    left: 8rem;
   }
      
    }
@media (width>=450px){
  .title{
    padding: 2rem;
    text-shadow: 10px 10px 10px black ;
      
  }
    .weather{
      transform: scale(1.5);
      position: relative;
      left: 6rem;
      }
    .div .temperature{
      display: flex;
      justify-content: end;
      padding: -3rem;
    }
    .temperature{
    position: relative;
    left: 4rem;
          
  }
  }

@media screen and (width>=320px) {
   .div{
display:flex;
align-items:center;
justify-content: center;
margin-top: 12rem;
padding:8.5rem;
}
    .title{
      font-size:2rem;
     margin: 0rem;
     margin-left: -3rem;
     display: flex;
     
     
     }
   
  .div .weather {
    padding: 1rem;
    margin: -0.5rem;
    height: 15rem;
    width: 13rem;
    display: flex;
    justify-content: flex-start;
    }
  .weather .imagen{
    height: 8rem;
    width: 10rem;
    margin:-3.3rem;
    }
    .div .temp{
    display: flex;
    font-size:2.5rem;
    text-align:center;
    color:white;
    text-shadow: 3px 3px black;
    padding: 1rem;
    }
    .div .sensation{
    display: flex;
    padding: 2.1rem;
    width: 14rem;
    height: 1rem;
    margin: -1.8rem;
    margin-top: 0.4rem;
    font-size: 0.7rem;
    font-style:oblique;
    font-weight: bold;
    }
    .div .speed {
    display: flex;
    margin: 1rem;
    margin-left: -0.1rem;
    padding: 0.4rem;
    width: 5rem;
    height: 1rem;
    font-size: 0.7rem;
    font-style:oblique;
    font-weight: bold;

    }
    .div .pressure {
      display: flex;
      margin: 0.1rem;
      padding: 0rem;
      height: 1rem;
      font-size: 0.7rem;
      font-style:oblique;
      font-weight: bold;
    

    }
    .div .location{
    display: flex;
    font-size: 0.9rem;
    font-style:oblique;
    font-weight: bold;
    padding: 0rem;
             
    }
    .div .temperature{
    width: 150px;
    height: 30px;
    text-align:center;
    margin-top: 5rem;
    font-size: 1rem;
    border-radius: 8em;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgba(119, 127, 143, 0.353);
   }
   .button .temperature{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    
  }
}

