:root {
  --section-overlay: rgba(0, 0, 0.7);
  --background-overlay: rgba(0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 5rem;
  padding: 40px;
  color: white;
  margin-top: 5rem;
  text-shadow: 7px 8px 10px black;

}

.cont .cont__OnOff {

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  z-index: 10;
}

html {
  width: 100;
  height: fit-content;
}

.div {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 2rem;

}

.cont {

  width: 6rem;
  left: 10%;
}

.weather>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  height: 100%;
}

.div .weather {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: rgb(250, 220, 249);
  text-align: center;
  border-radius: 150px 150px 50px 20px;
  background-color: rgba(26, 21, 21, 0.404);
  backdrop-filter: blur(10px);
}

.weather>p {
  margin-left: 3rem;
  color: white
}

.div .imagen {
  display: flex;
  height: 200px;
  width: 300px;
  margin-left: 2rem;

}

.temp_max {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  font-weight: bold;
  margin-top: 0rem;
}

.div .sensation {
  display: flex;
  justify-content: first baseline;
  color: white;
  font-size: 1rem;
  text-align: left;
  font-weight: bold;

}

.div .speed {
  display: flex;
  justify-content: first baseline;
  font-size: 1rem;
  font-style: oblique;
  text-align: left;
  font-weight: bold;
}

.div .pressure {
  display: flex;
  justify-content: first baseline;
  font-size: 1rem;
  font-style: oblique;
  text-align: left;
  font-weight: bold;

}

.div .location {
  display: flex;
  justify-content: first;
  font-size: 1.5rem;
  font-style: oblique;
  font-weight: bold;
  text-align: left;
  align-self: center;
  color: white;
}

.div .temperature {
  width: 8rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  border-radius: 40px;
  font-weight: bolder;
  cursor: pointer;
  color: white;
  background-color: rgba(29, 31, 36, 0.39);
}

@media (width<=2200px) {
  .div .weather {
    top: 5rem;
    transform: scale(2.5);

  }
}

@media (width>=1200px) {
  h1 .title {
    display: flex;
    align-items: center;
    justify-content: center;


  }

  .div {
    padding: 10rem;
    height: 10rem;
    margin: 5rem;
    transform: scale(1.0);

  }

  .weather {
    height: 600px;
    width: 5rem;
    padding: auto;
  }

  .weather .imagen {
    display: flex;
    height: 6rem;
    width: 8rem;
    left: 4rem;
  }

  .div .temp {
    display: flex;
    font-size: 2.2rem;
    text-align: center;
    color: white;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.829);
    height: 1rem;
    margin: 0;
  }

  .temp_max {
    display: flex;
    justify-content: center;
    margin-top: .7rem;
    padding: 1.2rem;
  }

  .div .sensation {
    font-size: 1rem;
    padding: 0rem;
    font-style: oblique;
    font-weight: bold;
  }

  .div .speed {

    font-size: 0.7rem;
    font-style: oblique;
    font-weight: bold;
  }

  .div .temperature {
    display: flex;
    padding: 1rem;
    left: .8rem;
    width: 170px;
    height: 30px;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;

  }


}

@media (width>=750px) {
  .title {
    transform: scale(1.0);

  }

  .div .weather {
    position: static;

  }

  .temperature {
    position: static;
    left: 10rem;
  }

}

@media (width>=610px) {
  .title {
    display: flex;
    justify-content: flex-start;
    height: 5rem;
    transform: translate(-2%, -15%);
  }

  .weather {
    transform: scale(1.5);

  }

  .div {
    margin-top: 0rem;
    height: 8rem;
    margin: 8.5rem;
  }
}

@media (width>=450px) {
  .title {
    margin: 3rem;
    padding: 2rem;
    text-shadow: 10px 10px 10px black;

  }

  .weather {
    position: static;
    left: 10rem;

  }

  .div .temperature {
    display: flex;

  }

  .temperature {
    left: 1.5rem;
  }
}

@media screen and (width>=320px) {
  .title {
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    left: 3rem;

  }

  .div .weather {
    transform: scale(1.2);
    padding: 1rem;
    margin: 3rem;
    height: 17rem;
    width: 13rem;
    display: flex;
    justify-content: flex-start;
  }

  .weather .imagen {
    height: 9rem;
    width: 11rem;
    margin: -3.3rem;
  }

  .div .temp {
    display: flex;
    font-size: 2.5rem;
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
    padding: 1.5rem;
  }

  .div .sensation {
    display: flex;
    padding: 1.5rem;
    width: 14rem;
    height: .5rem;
    margin: -1.8rem;
    margin-top: 0.2rem;
    font-size: 0.7rem;

  }

  .div .speed {
    display: flex;
    margin: 1rem;
    margin-left: -0.1rem;
    width: 5rem;
    height: 1rem;
    font-size: 0.7rem;
  }

  .div .pressure {
    display: flex;
    margin: 0.1rem;
    height: 1rem;
    font-size: 0.6rem;
  }

  .div .location {
    display: flex;
    font-size: 0.8rem;
    padding: .3rem;

  }

  .button .temperature {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 3rem;

  }
}